{% extends "base.html" %}
{% load static %}

{% block title %}
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home_page/home_page.css' %}">
{% endblock %}


{% block content %}
	<header style="background: url({% static 'img/home_page/header-bg.svg' %}) no-repeat;">
		<div class="header-wrapper">
			<div class="header__logo">
				<img class="logo" src="{% static 'img/home_page/logo.svg' %}">
			</div>
			<div class="header__content">
				<h1 class="header__content-title">Международная научно-практическая онлайн-олимпиада</h1>
				<img class="header__content-image" src="{% static 'img/home_page/header-image.svg' %}">
				<div class="participation">
					<a class="button" href="{% url 'registration' %}">Принять участие</a>
					<h3 class="timer">00:00:00</h3>
				</div>
			</div>
			<div class="header__footer">
				<div class="header__footer-left">
					<p>Место проведения онлайн-олимпиады:</p>
				</div>
				<div class="header__footer-right">
					<p>Ростовский государственный экономический университет (РИНХ), Точка кипения РГЭУ (РИНХ)<br>
					г. Ростов-на-Дону, ул. Б. Садовая, 69</p>
				</div>
			</div>
		</div>
	</header>

	<section class="organizers">
		<div class="organizers__info-block">
			<div class="organizers__info-block-wrapper">
				<h4 class="info-block__title">Соорганизаторы:</h4>
				<div class="info-block__content">
					<p class="info-block__content-item">Ростовский государственный экономический университет (РИНХ)</p>
					<p class="info-block__content-item">Федеральная служба по финансовому мониторингу</p>
					<p class="info-block__content-item">Международный учебно-методический центр финансового мониторинга</p>
					<p class="info-block__content-item">Международный сетевой институт в сфере ПОД/ФТ</p>
					<p class="info-block__content-item">Ростовское региональное отделение Вольного экономического общества России</p>
				</div>
			</div>
			<div class="organizers__info-block-wrapper">
				<h4 class="info-block__title">при поддержке</h4>
				<div class="info-block__content">
					<p class="info-block__content-item">Аппарата полномочного представителя Президента РФ в Южном федеральном округе</p>
					<p class="info-block__content-item">Правительства Ростовской области</p>
				</div>
			</div>
		</div>
	</section>

	<section class="stages container">
		<h3 class="stages__title">Олимпиада включает два этапа, проводимые в заочной форме с применением дистанционных образовательных технологий:</h3>
		<div class="stages__grid">
			<p class="stages__text">Первый этап представляет собой отборочный тур и предполагает выполнение индивидуальных тестовых заданий. Все участники первого этапа Олимпиады получают Сертификат установленного образца.</p>
			<div class="stages__grid-wrapper">
				<p class="stages__text">Второй этап к участию допускаются участники Первого этапа Олимпиады, набравшие наибольшее количество баллов. Второй этап предполагает выполнение индивидуальных тестовых заданий повышенного уровня сложности и решение кейс-задания.</p>
				<div class="stages__grid">
					<p class="stages__text">Победители Второго этапа Олимпиады получают Дипломы Победителей (1-е, 2-е и 3-е место).</p>
					<p class="stages__text">Участники, набравшие наибольшее количество баллов после победителей, получают Дипломы Лауреатов.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="purpose">
		<h2 class="purpose__title">Цели</h2>
		<div class="purpose__slider">
			<div class="purpose__slider-tabs">
				<p class="purpose__slider-item purpose__slider-item-active">Творческие способности</p>
				<p class="purpose__slider-item">Одаренные дети</p>
				<p class="purpose__slider-item">Научные знания</p>
				<p class="purpose__slider-item">Профессиональная ориентация</p>
				<p class="purpose__slider-item">Талантливая молодеж</p>
			</div>
			<div class="purpose__slider-content">
				<img class="purpose__slider-content-icon" src="{% static 'img/home_page/purpose-icon.svg' %}">
				<h4 class="purpose__slider-content__title">Творческие способности</h4>
				<p class="purpose__slider-content__text">Выявление и развитие у учащихся, осваивающих общеобразовательные программы основного общего и среднего общего образования, творческих способностей и интереса к научно-исследовательской деятельности</p>
			</div>
		</div>
	</section>

	<section class="commitet">
		<h2 class="commitet__title">Программный комитет олимпиады</h2>
		<div class="commitet__list">
			{% for commitet_human in commitet %}
				<div class="commitet__list-item">
					<div class="commitet__list-item-photo">
						<img src="{% static 'img/home_page/commitet.jpg' %}">
					</div>
					<h5 class="commitet__list-item-title">Дарт Вейдер<br>♥ {{ commitet_human }}</h5>
					<p class="commitet__list-item-text">проректор по учебной работе РГЭУ (РИНХ), заведующий кафедрой экономики региона, отраслей и предприятий РГЭУ (РИНХ), к.э.н., доцент.</p>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}