header {
	font-family: 'Montserrat', sans-serif;
	min-height: 928px;
}
.header-wrapper {
	padding: 80px 165px 0 165px;
}
.logo {
	margin-bottom: 45px;
}
.title {
	margin-bottom: 70px;
}
.title h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 63px;
	color: #fff;
	letter-spacing: .07em;
}
.form-container {
	margin: 0 auto;
	max-width: 920px;
}
.field {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}
.field__label label {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #fff;
}
.field__input input {
	border: 0;
	min-width: 635px;
	height: 50px;
}
.button {
	margin-top: 45px;
	margin-left: 285px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px 64px;
	background: #5B98E3;
	border: 0;
	border-radius: 9px;
	font-style: normal;
	font-weight: 700;
	font-size: 19px;
	line-height: 28px;
	color: #FFFFFF;
	height: 69px;
	letter-spacing: 0.05em;
}

@media screen and (max-width: 1078px) {
	.header-wrapper {
		padding: 20px 50px 0 50px;
	}
	.title {
		text-align: center;
		width: 100%;
	}
	.field {
		flex-direction: column;
	}
	.button {
		width: 60%;
		margin: 45px 20%;
	}
}
@media screen and (max-width: 712px) {
	.field__input input {
		min-width: 360px;
		margin: 0 auto;
	}
}
@media screen and (max-width: 400px) {
	.logo, .title, .field {
		margin-bottom: 25px;
	}
	.field__input input {
		min-width: 240px;
	}
	.button {
		padding: 10px 20px;
	}
}