 =============== */
/* === GLOBALS === */
.container {
	margin: 0 165px;
}
/* === GLOBALS === */
/* =============== */

/* ============== */
/* === HEADER === */
header {
	min-height: 799px;
}
.header-wrapper {
	padding: 80px 62px 42px 165px;
}
.header__content {
	position: relative;
}
.header__content-title {
	padding-top: 84px;
	margin-left: 0;
	margin-bottom: 54px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 46px;
	line-height: 69px;
	color: #fff;
	width: 50%;
}
.header__content-image {
	position: absolute;
	top: 0;
	right: 0;
}
.participation {
	width: 49%;
	display: flex;
	justify-content: space-between;
	/*margin-bottom: 139px;*/
}
.button {
	padding: 23px 64px;
	background: #5B98E3;
	border-radius: 9px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 19px;
	line-height: 28px;
	color: #FFFFFF;
}
.timer {
	padding: 23px 64px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 20px;
	color: #FFFFFF;
}
.header__footer {
	margin-top: 137px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.header__footer-left {
	margin-right: 26px;
}
.header__footer-left p {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	color: #FFFFFF;
}
.header__footer-right {
	max-width: 847px;
	margin-right: 26px;
}
.header__footer-right p {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #FFFFFF;
}
/* === HEADER === */
/* ============== */

/* ================== */
/* === ORGANIZERS === */
.organizers {
	min-height: 180px;
	background: linear-gradient(89.95deg, #211EAA 0.04%, #3648B9 99.96%);
	padding: 40px 155px 0 166px;
	margin-bottom: 70px;
}
.organizers__info-block {
	display: flex;
}
.organizers__info-block-wrapper {
	margin-right: 52px;
}
.organizers__info-block-wrapper:last-child {
	margin-right: 0;
}
.info-block__title {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 27px;
	color: #FFFFFF;
	margin-bottom: 23px;
	letter-spacing: -0.4px
}
.info-block__content {
	display: flex;
}
.info-block__content-item {
	margin-right: 27px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 17px;
	color: #FFFFFF;
	cursor: pointer;
}
.info-block__content-item:last-child {
	margin-right: 0;
}
/* === ORGANIZERS === */
/* ================== */

/* ============== */
/* === STAGES === */
.stages {
	min-height: 596px;
	margin: 0 165px;
}
.stages__title {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 45px;
	color: #2A30B1;
	margin-bottom: 37px;
}
.stages__grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
}
.stages__grid-wrapper {
	display: grid;
	grid-template-rows: 1fr 1fr;
	gap: 45px;
}
.stages__text {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #2A30B1;
	letter-spacing: -1.55px;
}
/* === STAGES === */
/* ============== */

/* =============== */
/* === PURPOSE === */
.purpose {
	min-height: 515px;
	margin: 0 247px;
}
.purpose__title {
	margin-left: 40px;
	margin-bottom: 81px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 63px;
	color: #3444B8;
	text-align: center;
}
.purpose__slider-tabs {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #2A30B1;
	margin-bottom: 73px;
}
.purpose__slider-item {
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #2F185F;
	padding-bottom: 10px;
	letter-spacing: -1.5px;
}
.purpose__slider-item-active {
	font-weight: 700;
	border-bottom: 2px solid #2F185F;
}
.purpose__slider-content {
	position: relative;
	max-width: 553px;
	margin: 0 auto;
	box-shadow: 0px 0px 64px #BEC8F5;
	border-radius: 10px;
	padding: 19px 36px 29px;
}
.purpose__slider-content-icon {
	position: absolute;
	left: -15px;
	top: -35px;
}
.purpose__slider-content__title {
	text-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 34px;
	color: #2F185F;
	letter-spacing: -2.5px;
	margin-bottom: 12px;
}
.purpose__slider-content__text {
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #2F185F;
	letter-spacing: -1.5px;
}
/* === PURPOSE === */
/* =============== */

/* ================ */
/* === COMMITET === */
.commitet {
	margin: 0 165px;
}
.commitet__title {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 63px;
	color: #3444B8;
	margin-bottom: 70px;
	text-align: center;
	padding-right: 40px;
}
.commitet__list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	column-gap: 30px;
	row-gap: 64px;
}
.commitet__list-item {
	min-width: 254px;
}
.commitet__list-item-photo {
	min-height: 190px;
	margin: 0 auto;
	position: relative;
}
.commitet__list-item-photo img {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
}
.commitet__list-item-title {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: #201EAA;
	letter-spacing: -2px;
	min-height: 69px;
}
.commitet__list-item-text {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 17px;
	text-align: center;
	color: #191773;
	letter-spacing: -1px;
}
/* === COMMITET === */
/* ================ */