.header {
	position: relative;
	width: 84.25%;
	padding-top: 5.5%;
	padding-right: 4.3%;
	padding-left: 11.45%;
	padding-bottom: 5.25%;
	min-height: 80vh;
	background-repeat: no-repeat;
	background-size: 100%;
}
.middle-content {
	position: relative;
}
.right-image {
	position: absolute;
	right: 0;
	top: 0;
	float: right;
}
.header__title {
	padding-top: 84px;
	position: relative;
}
.header__title h1 {
	position: relative;
	width: 50%;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 46px;
	line-height: 150%;
	color: #fff;
}
.header-footer {
	position: absolute;
	left: 0;
	bottom: 0;
	margin-left: 11.45%;
	margin-bottom: 2.625%;
	width: 82.44%;
}
.left-info {
	float: left;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 150%;
	color: #fff;
	margin-right: 2.2%;
}
.right-info {
	float: left;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: #fff;
}