 =============== */
/* === GLOBALS === */
.container {
	margin: 0 165px;
}
/* === GLOBALS === */
/* =============== */

/* ============== */
/* === HEADER === */
header {
	min-height: 799px;
}
.header-wrapper {
	padding: 80px 62px 42px 165px;
}
.header__content {
	position: relative;
}
.header__content-title {
	padding-top: 84px;
	margin-left: 0;
	margin-bottom: 54px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 46px;
	line-height: 69px;
	color: #fff;
	width: 50%;
}
.header__content-image {
	position: absolute;
	top: 0;
	right: 0;
}
.participation {
	width: 49%;
	display: flex;
	justify-content: space-between;
}
.button {
	padding: 23px 64px;
	background: #5B98E3;
	border-radius: 9px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 19px;
	line-height: 28px;
	color: #FFFFFF;
	transition: .3s;
}
.button:hover {
	transition: .3s;
	background: #3676C1;
}
.timer {
	padding: 23px 64px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 20px;
	color: #FFFFFF;
}
.header__footer {
	margin-top: 137px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.header__footer-left {
	margin-right: 26px;
}
.header__footer-left p {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	color: #FFFFFF;
}
.header__footer-right {
	max-width: 847px;
	margin-right: 26px;
}
.header__footer-right p {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #FFFFFF;
}

@media screen and (max-width: 1370px) {
	.header-wrapper {
		padding-bottom: 0;
	}
	.header__content-title {
		width: 100%;
	}
	.header__content-image {
		opacity: .4;
	}
	.header__footer {
		margin-top: 220px;
	}
}
@media screen and (max-width: 768px) {
	.header-wrapper {
		padding: 40px;
	}
	.header__content-title {
		text-align: center;
	}
	.header__content-image {
		opacity: .2;
	}
	.participation {
		margin-top: 100px;
		width: 100%;
		justify-content: center;
	}
	.header__footer {
		margin-top: 100px;
	}
}
@media screen and (max-width: 425px) {
	.header-wrapper {
		padding: 0;
	}
	.header__logo {
		padding: 40px;
	}
	.header__content-title {
		font-size: 40px;
		padding-top: 0;
	}
	.header__content-image {
		display: none;
	}
	.participation {
		margin-top: 0;
	}
	.header__footer {
		margin-top: 50px;
		flex-direction: column;
	}
	.header__footer-left {
		margin-right: 0;
		text-align: center;
	}
	.header__footer-right {
		margin-right: 0;
		text-align: center;
	}
}
@media screen and (max-width: 320px) {
	.header__content-title {
		font-size: 24px;
	}
}
/* === HEADER === */
/* ============== */

/* ================== */
/* === ORGANIZERS === */
.organizers {
	min-height: 180px;
	background: linear-gradient(89.95deg, #211EAA 0.04%, #3648B9 99.96%);
	padding: 40px 155px 0 166px;
	margin-bottom: 70px;
}
.organizers__info-block {
	display: flex;
}
.organizers__info-block-wrapper {
	margin-right: 52px;
}
.organizers__info-block-wrapper:last-child {
	margin-right: 0;
}
.info-block__title {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 27px;
	color: #FFFFFF;
	margin-bottom: 23px;
	letter-spacing: -0.4px
}
.info-block__content {
	display: flex;
}
.info-block__content-item {
	margin-right: 27px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 17px;
	color: #FFFFFF;
	cursor: pointer;
}
.info-block__content-item:last-child {
	margin-right: 0;
}
@media screen and (max-width: 1200px) {
	.organizers {
		padding-bottom: 40px;
	}
	.organizers__info-block {
		flex-direction: column;
	}
	.organizers__info-block-wrapper {
		margin-bottom: 60px;
	}
	.organizers__info-block-wrapper:last-child {
		margin-bottom: 0;
	}
}
@media screen and (max-width: 768px) {
	.organizers {
		padding: 40px;
	}
}
@media screen and (max-width: 425px) {
	.info-block__content {
		flex-direction: column;
	}
	.organizers__info-block-wrapper {
		margin-right: 0;
	}
	.info-block__title {
		text-align: center;
	}
	.info-block__content-item {
		margin-right: 0;
		margin-bottom: 10px;
		text-align: center;
	}
}
/* === ORGANIZERS === */
/* ================== */

/* ============== */
/* === STAGES === */
.stages {
	min-height: 596px;
	margin: 0 165px;
}
.stages__title {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 45px;
	color: #2A30B1;
	margin-bottom: 37px;
}
.stages__grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
}
.stages__grid-wrapper {
	display: grid;
	grid-template-rows: 1fr 1fr;
	gap: 45px;
}
.stages__text {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #2A30B1;
	letter-spacing: -1.55px;
}
@media screen and (max-width: 768px) {
	.stages {
		margin: 0 40px;
	}
	.stages__title {
		text-align: center;
	}
}
@media screen and (max-width: 425px) {
	.stages__grid {
		grid-template-columns: 1fr;
	}
	.stages__text {
		text-align: center;
	}
}
/* === STAGES === */
/* ============== */

/* =============== */
/* === PURPOSE === */
.purpose {
	min-height: 515px;
	margin: 0 17.15%;
}
.purpose__title {
	margin-left: 40px;
	margin-bottom: 81px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 63px;
	color: #3444B8;
	text-align: center;
}
.purpose__slider-tabs {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #2A30B1;
	margin-bottom: 73px;
}
.purpose__slider-item {
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #2F185F;
	padding-bottom: 10px;
	letter-spacing: -1.5px;
}
.purpose__slider-item-active {
	font-weight: 700;
	border-bottom: 2px solid #2F185F;
}
.purpose__slider-content {
	position: relative;
	max-width: 553px;
	margin: 0 auto;
	box-shadow: 0px 0px 64px #BEC8F5;
	border-radius: 10px;
	padding: 19px 36px 29px;
}
.purpose__slider-content-icon {
	position: absolute;
	left: -15px;
	top: -35px;
}
.purpose__slider-content__title {
	text-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 34px;
	color: #2F185F;
	letter-spacing: -2.5px;
	margin-bottom: 12px;
}
.purpose__slider-content__text {
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #2F185F;
	letter-spacing: -1.5px;
}
@media screen and (max-width: 425px) {
	.purpose__slider-tabs {
		flex-wrap: wrap;
	}
}
/* === PURPOSE === */
/* =============== */

/* ================ */
/* === COMMITET === */
.commitet {
	margin: 0 165px;
}
.commitet__title {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 63px;
	color: #3444B8;
	margin-bottom: 70px;
	text-align: center;
	padding-right: 40px;
}
.commitet__list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	column-gap: 30px;
	row-gap: 60px;
	/*display: flex;
	flex-wrap: wrap;*/
}
.commitet__list-item {
	min-width: 254px;
}
.commitet__list-item-photo {
	min-height: 190px;
	margin: 0 auto;
	position: relative;
}
.commitet__list-item-photo-bg {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 70%;
	padding: 0 15%;
}
.reverse-bg {
	transform: scale(-1, 1);
}
.commitet__list-item-photo-img {
	max-height: 180px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
	max-width: 130px;
}
.commitet__list-item-title {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: #201EAA;
	letter-spacing: -2px;
	min-height: 69px;
}
.commitet__list-item-text {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 17px;
	text-align: center;
	color: #191773;
	letter-spacing: -1px;
}
@media screen and (max-width: 1300px) {
	.commitet__list {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media screen and (max-width: 1024px) {
	.commitet__list {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 768px) {
	.commitet {
		margin: 0 40px;
	}
	.commitet__list-item-text {
		font-size: 18px;
	}
}
@media screen and (max-width: 425px) {
	.commitet__list {
		grid-template-columns: 1fr;
	}
}
@media screen and (max-width: 320px) {
	.commitet__title {
		font-size: 24px;
	}
	.commitet__list {
		row-gap: 0px;
	}
}
/* === COMMITET === */
/* ================ */