{% extends "base.html" %}
{% load static %}

{% block title %}
	<title>Список участников</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/participants_list/participants_list.css' %}">
{% endblock %}

{% block content %}
	<section class="participants_list" style="background: url({% static 'img/home_page/header-bg.svg' %}); background-size: cover;">
		<div class="participants_list-wrapper">
			<div class="participants_list__header">
				<a class="logo-link" href="{% url 'home_page' %}">
					<img src="{% static 'img/home_page/logo.svg' %}" alt="Логотип">
				</a>
				<h1 class="participants_list__title">Список участников</h1>
			</div>
			<div class="participants_list__table-container">
				<table class="participants_list__table">
					<tr>
						<th>ФИО участника</th>
						<th>Учебное заведение</th>
						<th>Номер телефона</th>
						<th>E-mail</th>
					</tr>
					{% for participant in participants %}
						<tr>
							<td>{{ participant.name }}</td>
							<td>{{ participant.institution }}</td>
							<td>{{ participant.phone_number }}</td>
							<td>{{ participant.email }}</td>
						</tr>
					{% endfor %}
				</table>
				<div class="paginator__container">
					<a class="paginator__button" href="?page=1">1</a>
					{% if page_obj.has_previous and page_obj.previous_page_number > 1 %}
						<a class="paginator__button" href="?page={{ page_obj.previous_page_number }}">
							{{ page_obj.previous_page_number }}
						</a>
					{% endif %}
					{% if page_obj.has_next %}
						<a class="paginator__button" href="?page={{ page_obj.next_page_number }}">
							{{ page_obj.next_page_number }}
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}